<!DOCTYPE html>

{% extends "layout.html" %}

{% block content %}
<div class="home">
    <h1>Normalized VGL rating: </h1> <br/>
    <table width=\"100%\" border=\"" + str(border_size) + "\">
    <tr>
        <td bgcolor="FAEBD7">№</td>
        <td bgcolor="FAEBD7">Архитектура</td>
        <td bgcolor="FAEBD7">Рейтинг</td>
    </tr>
    {% for result in rating_data %}
    <tr>
        <td bgcolor="F0F8FF">{{result.pos}}</td>
        <td bgcolor="F0F8FF">{{result.arch}}</td>
        <td bgcolor="F0F8FF">{{result.rating}}</td>
    </tr>
    {% endfor %}
    </table>
    <br/>
</div>


{% if slider_vals is none %}
<form method="GET" action="{{url_for('home')}}">
    <b>synthetic input</b>
    <input type="range" min="0" max="100" value="100" class="slider" name="synthetic">
    <br/>
    <b>social input</b>
    <input type="range" min="0" max="100" value="100" class="slider" name="Online social network">
    <br/>
    <b>web input</b>
    <input type="range" min="0" max="100" value="100" class="slider" name="Hyperlink network">
    <br/>
    <b>road input</b>
    <input type="range" min="0" max="100" value="100" class="slider" name="Infrastructure network">
    <br/>
    <input type="submit" value="Submit">
</form>
{% else %}
<form method="GET" action="{{url_for('home')}}">
    <b>synthetic input</b>
    <input type="range" min="0" max="100" value="{{slider_vals['synthetic']}}" class="slider" name="synthetic">
    <br/>
    <b>social input</b>
    <input type="range" min="0" max="100" value="{{slider_vals['Online social network']}}" class="slider" name="Online social network">
    <br/>
    <b>web input</b>
    <input type="range" min="0" max="100" value="{{slider_vals['Hyperlink network']}}" class="slider" name="Hyperlink network">
    <br/>
    <b>road input</b>
    <input type="range" min="0" max="100" value="{{slider_vals['Infrastructure network']}}" class="slider" name="Infrastructure network">
    <br/>
    <input type="submit" value="Submit">
</form>
{% endif %}

{{slider_vals}}
<h1>Full performance table: </h1> <br/>
<table border=\"" + str(border_size) + "\">
<tr>
    <td bgcolor="FAEBD7">алгоритм</td>
    {%for graph_name in full_perf_table['pr']%}
        <td bgcolor="FAEBD7"> {{graph_name}} </td>
    {% endfor %}
</tr>
{%for app_name,app_data in full_perf_table.items() %}
<tr>
    <td> {{app_name}} </td>
    {% for graph_name,graph_data in app_data.items() %}
        <td>
            {% for item in graph_data %}
                {{item['arch_name']}}___{{item['perf_val']}}__MTEPS <br>
            {% endfor %}
        </td>
    {% endfor %}
</tr>
{% endfor %}
</table>
<br/>

{% endblock %}