<!DOCTYPE html>

{% extends "layout.html" %}

{% block content %}
<div class="home">
    <h1>Normalized VGL rating: </h1> <br/>
    <table width=\"100%\" border=\"" + str(border_size) + "\">
    <tr>
        <td bgcolor="FAEBD7">№</td>
        <td bgcolor="FAEBD7">Архитектура</td>
        <td bgcolor="FAEBD7">Рейтинг</td>
    </tr>
    {% for result in rating_data %}
    <tr>
        <td bgcolor="F0F8FF">{{result.pos}}</td>
        <td bgcolor="F0F8FF">{{result.arch}}</td>
        <td bgcolor="F0F8FF">{{result.rating}}</td>
    </tr>
    {% endfor %}
    </table>
    <br/>
</div>


<form method="GET" action="{{url_for('home')}}">
    <table width=\"100%\">
        <tr>
            <td>
                <table>
                    <tr>
                        Input of graph category
                    </tr>
                    <tr>
                        <td> <b>Synthetic</b> </td>
                        <td>
                            <input type="range" min="0" max="100" value="{{slider_vals['synthetic']}}" class="slider" name="synthetic">
                        </td>
                    </tr>

                    <tr>
                        <td> <b>Social</b> </td>
                        <td>
                            <input type="range" min="0" max="100" value="{{slider_vals['Online social network']}}" class="slider" name="Online social network">
                        </td>
                    </tr>

                    <tr>
                        <td> <b>Hyperlink</b> </td>
                        <td>
                            <input type="range" min="0" max="100" value="{{slider_vals['Hyperlink network']}}" class="slider" name="Hyperlink network">
                        </td>
                    </tr>

                    <tr>
                        <td> <b>Infrastructure</b> </td>
                        <td>
                            <input type="range" min="0" max="100" value="{{slider_vals['Infrastructure network']}}" class="slider" name="Infrastructure network">
                        </td>
                    </tr>
                </table>
            </td>

            <td>
                <table>
                    <tr>
                        Algorithm input
                    </tr>
                    <tr>
                        <td> <b>Page Rank</b> </td>
                        <td>
                            <input type="range" min="0" max="100" value="{{slider_vals['pr']}}" class="slider" name="pr">
                        </td>
                    </tr>

                    <tr>
                        <td> <b>HITS</b> </td>
                        <td>
                            <input type="range" min="0" max="100" value="{{slider_vals['hits']}}" class="slider" name="hits">
                        </td>
                    </tr>

                    <tr>
                        <td> <b>Shortest Paths</b> </td>
                        <td>
                            <input type="range" min="0" max="100" value="{{slider_vals['sssp']}}" class="slider" name="sssp">
                        </td>
                    </tr>

                    <tr>
                        <td> <b>BFS</b> </td>
                        <td>
                            <input type="range" min="0" max="100" value="{{slider_vals['bfs']}}" class="slider" name="bfs">
                        </td>
                    </tr>
                </table>
            </td>

            <td>
                <table>
                    <tr>
                        Vertices scale category
                    </tr>
                    <tr>
                        <td> <b>Tiny</b> </td>
                        <td>
                            <input type="range" min="0" max="100" value="{{slider_vals['tiny_vertex_scale']}}" class="slider" name="tiny_vertex_scale">
                        </td>
                    </tr>

                    <tr>
                        <td> <b>Small</b> </td>
                        <td>
                            <input type="range" min="0" max="100" value="{{slider_vals['small_vertex_scale']}}" class="slider" name="small_vertex_scale">
                        </td>
                    </tr>

                    <tr>
                        <td> <b>Medum</b> </td>
                        <td>
                            <input type="range" min="0" max="100" value="{{slider_vals['medium_vertex_scale']}}" class="slider" name="medium_vertex_scale">
                        </td>
                    </tr>

                    <tr>
                        <td> <b>Large</b> </td>
                        <td>
                            <input type="range" min="0" max="100" value="{{slider_vals['large_vertex_scale']}}" class="slider" name="large_vertex_scale">
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
    <input type="submit" value="Update Rating">
</form>


<h1>Full performance table: </h1> <br/>
<table border=\"" + str(border_size) + "\">
<tr>
    <td bgcolor="FAEBD7">алгоритм</td>
    {%for graph_name in full_perf_table['pr']%}
        <td bgcolor="FAEBD7"> {{graph_name}} </td>
    {% endfor %}
</tr>
{%for app_name,app_data in full_perf_table.items() %}
<tr>
    <td> {{app_name}} </td>
    {% for graph_name,graph_data in app_data.items() %}
        <td>
            {% for item in graph_data %}
                {{item['arch_name']}}___{{item['perf_val']}}__MTEPS <br>
            {% endfor %}
        </td>
    {% endfor %}
</tr>
{% endfor %}
</table>
<br/>

{% endblock %}